*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}

body{
    font-family: 'Outfit';
    background: linear-gradient(360deg, white 0%, yellowgreen 100%);
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: darkgreen;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: darkgreen;
    border-radius: 10px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: olivedrab;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid olivedrab;
}
.contact-inputs::placeholder{
    color: olivedrab;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: darkgreen;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(white 0%, yellowgreen 100%);
    cursor: pointer;
}
.contact-left button img{
    height: 30px;
}
.contact-right img{
    width: 750px;
}
@media(max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}

/* Header */
header {
    background-color: linear-gradient(360deg, white 0%, yellowgreen 100%);
    color: rgb(0, 0, 0);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 30px;
}

.logo {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.logoimg{
    width: 200px;
    margin-top: -1px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    font-family: Arial, sans-serif; /* Change the font family */
}

.nav-links a:hover {
    background-color: #3e1919;
    border-radius: 4px;
    color: white;
}
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(white, yellowgreen); /* Gradient background */
    padding: 10px;
    list-style-type: none; /* Remove bullets */
    width: 230px; /* Adjust the width as needed */
    text-align: center;
}

.dropdown-content.show {
    display: block;
}
.dropdown-content li {
    margin-bottom: 10px; /* Adjust the value to increase or decrease spacing */
}
.dropdown-content a {
    color: darkgreen; /* Dark green text color */
    text-decoration: none;
}